#container {
  justify-content: center;
  align-items: center;
  width: "100%";
  display: flex;
  flex-direction: column;
}

#card {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 700px;
  height: "100%";
  margin-top: 50px;
  box-shadow: 5px 5px #888888;
  padding: 20px;
}
.judul_input {
  font-size: 17px;
  margin-bottom: 6px;
}
.txt_input_adop {
  height: 30px;
  width: "100%";
  margin-bottom: 10px;
  border-radius: 10px;
  border-color: black;
  border-width: thin;
  padding-left: 5px;
}
.btn {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
  color: white;
  margin-top: 30px;
}
.txt-btn {
  color: white;
}
