.container-isi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: "100%";
  background-color: white;
}

table,
th,
td {
  border: 1px solid black;
  padding: 10px;
}
th {
  text-align: center;
}
#action {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  width: 100px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.txt-btn {
  color: white;
}
